<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight Number</th>
        <th>Airport</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
      <%# Oh hey, this is an ejs comment! It starts with a # %>
      <%# Write the line of EJS to iterate over movies using forEach %>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">DETAILS</a></td>

          <td><%= flight.nowShowing ? 'Yes' : 'Nope' %></td>
          </tr>
          <%# finish the ternary expression to display 'Yes' or 'Nope' %> 

       <% }) %>
        </tr>
      <%# Close the forEach using EJS here %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>